@page "/superheroes"
@inject ISuperHeroService SuperHeroService
@inject NavigationManager NavigationManager

<PageTitle>Super Heroes</PageTitle>

<h3>SuperHeroes</h3>


<div class="form-group">
    <input class="form-control" type="text" placeholder="Filter..."
           @bind="Filter"
           @bind:event="oninput">
</div>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Hero Name</th>
            <th>Comic</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hero in SuperHeroService.Heroes)
        {
            if (!IsVisible(hero))
                continue;
            <tr>
                <td>@hero.FirstName</td>
                <td>@hero.LastName</td>
                <td>@hero.HeroName</td>
                <td>@hero.Comic.Name</td>
                <td>
                    <button class="btn btn=primary" @onclick="(() => ShowHero(hero.Id))"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick="CreateNewHero">Create New Hero</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SuperHeroService.GetSuperHeroes();
    }

    public string Filter { get; set; }

    public bool IsVisible(Superhero hero)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;
 
        if (hero.FirstName.Contains(Filter, StringComparison.OrdinalIgnoreCase))
            return true;

        if (hero.LastName.Contains(Filter, StringComparison.OrdinalIgnoreCase))
            return true;

        if (hero.HeroName.Contains(Filter, StringComparison.OrdinalIgnoreCase))
            return true;
 
       if (hero.Comic!.Name.Contains(Filter, StringComparison.OrdinalIgnoreCase))
            return true;
 
        return false;
    }

    void ShowHero(int id)
    {
        NavigationManager.NavigateTo($"hero/{id}");
    }

    void CreateNewHero()
    {
        NavigationManager.NavigateTo("/hero");
    }
}
